<h1>Evens erb</h1>

<table class="table">
	<%@events.each do |e|%>
	<tr>
		<td>
		<%= e.name %>
		</td>
		<td>
		<%= link_to "Show",event_path(e),:class=>"btn btn-default" %>
		<%= link_to "Get Xml",event_path(e,:format=>:xml),:class=>"btn btn-default" %>
		<%= link_to "Get Json",event_path(e,:format=>:json),:class=>"btn btn-default" %>
		<%= link_to "Edit",edit_event_path(e),:class=>"btn btn-default" %>
		<%= link_to "Delete",event_path(e),:method=>:delete,:class=>"btn btn-default" %>
		<%#= link_to "Show",:controller=>"events",:action=>'show',:id=>e %>
		<%#= link_to "Edit",:controller=>"events",:action=>'edit',:id=>e %>
		<%#= link_to "Delete",:controller=>"events",:action=>'destroy',:id=>e %>
		</td>
	</tr>
	<% end %>
</table>
<%= paginate @events %>
<%= link_to "Atom feed", events_path(:format => :atom) %>

<%= link_to 'New Event', new_event_path %>